@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* Desactiva el menú de llamada táctil en Safari */
  -ms-touch-action: pan-y pan-x;
      touch-action: pan-y pan-x;
  -webkit-user-select: none; /* Desactiva la selección de texto en Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

html {
  font-family: system-ui, Arial, sans-serif;
  color: #606060;
  overflow: hidden; /* Ocultar la barra de desplazamiento en html y body */
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f7;
  -ms-touch-action: none;
      touch-action: none;
  font-size: 1rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

/* Ocultar scrollbar en WebKit (Safari) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

#idle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#idle .token-uma-clovr {
  display: block;
  background: url("../img/images/token-uma-clovr.webp") no-repeat center;
  background-size: cover;
  width: 30vw;
  aspect-ratio: 1/1;
}

#payment {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#payment .qr-code {
  min-width: 50vh;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#payed {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
#payed .payed-message {
  color: green;
  font-size: 15vw;
}