@charset "UTF-8";
footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 10vh;
}
footer .footer-menu {
  width: 100%;
  color: #949497;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: inherit;
}
footer .footer-menu .fondo-footer-menu {
  background-color: rgba(249, 249, 251, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  min-height: inherit;
  z-index: 2;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 0.9px solid rgba(0, 0, 0, 0.2);
  opacity: 0;
}
footer .footer-menu nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 0.2rem;
  width: 100%;
  z-index: 3;
  min-height: inherit;
  position: absolute;
  bottom: 0;
}
footer .footer-menu nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer-menu nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}
footer .footer-menu nav ul li.active {
  color: #0081fc;
}
footer .footer-menu nav ul li.active svg {
  fill: #0081fc;
}
footer .footer-menu nav ul li em {
  display: inline-block;
  height: 2.5vh; /* Ajusta el ancho de la imagen */
  aspect-ratio: 1/1; /* Mantiene una proporción de 1:1 */
  vertical-align: middle;
  margin: 0.4rem auto;
}
footer .footer-menu nav ul li em svg {
  fill: #949497;
}
footer .footer-menu nav ul li span {
  font-size: 0.6em;
  font-weight: 540;
  letter-spacing: 0.02em;
}