@charset "UTF-8";
header {
  width: 100%;
  background-color: #8cc63f; /* Color de fondo de ejemplo para el header */
  color: #ffffff; /* Color de texto de ejemplo para el header */
  flex-shrink: 0;
  border: none;
}
header .header-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto; /* Centrar el contenedor */
  display: flex;
  justify-content: space-between; /* Espacio entre los elementos de la izquierda y derecha */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 1rem; /* Espacio interno */
}
header .header-container .header-left {
  display: flex;
  align-items: center; /* Centrar verticalmente los elementos */
}
header .header-container .header-left img {
  width: 2rem; /* Ajusta el ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-right: 0.5rem; /* Espacio entre la imagen y el texto */
}
header .header-container .header-left span {
  font-size: 1.2rem; /* Tamaño del texto */
}
@media (max-width: 768px) {
  header .header-container .header-left span {
    display: none; /* Ocultar el título en la versión móvil */
  }
}
header .header-container .header-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  align-items: center;
}
header .header-container .header-right ul li {
  margin-left: 4rem; /* Espacio entre los elementos de la lista */
}
header .header-container .header-right ul li a {
  text-decoration: none; /* Eliminar subrayado del enlace */
  color: #ffffff; /* Color de texto de los enlaces */
}
header .header-container .header-right ul li a:hover {
  text-decoration: underline; /* Subrayar al pasar el cursor */
}
header .header-container .header-right ul li em {
  display: inline-block;
  height: 1.2em; /* Ajusta el ancho de la imagen */
  aspect-ratio: 1/1; /* Mantiene una proporción de 1:1 */
  background-size: contain;
  vertical-align: middle;
  margin-left: 0.3em; /* Espacio entre el texto y la imagen */
  margin-right: 0.6em; /* Espacio entre el texto y la imagen */
}
header .header-container .header-right ul li em.operar {
  background: url("../img/icons/cash-register-solid.svg") no-repeat center center;
}
header .header-container .header-right ul li em.transacciones {
  background: url("../img/icons/list-check-solid.svg") no-repeat center center;
}
header .header-container .header-right ul li em.ayuda {
  background: url("../img/icons/circle-question-regular.svg") no-repeat center center;
}