:root {
    --theme-color: #7b1af7;
    --bg-button: #fff;
    --bg-ln-button: #7b1af7;
    --bg-keypad: #f7b11a;
    --bg-action: #00aa28;
}

.text-bold{
    font-weight: bold;
}

.text-italic{
    font-style: italic;
}

.text-center{
    text-align: center;
}

.text-justify {
    text-align:justify
}