@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* Desactiva el menú de llamada táctil en Safari */
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-user-select: none; /* Desactiva la selección de texto en Safari */
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

html {
  font-family: Arial, sans-serif;
  color: #606060;
  overflow: hidden; /* Ocultar la barra de desplazamiento en html y body */
  width: 100vw;
  height: 100vh;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
/* Ocultar scrollbar en WebKit (Safari) */
::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/*

@import "header";
@import "main";
@import "footer";

*/