@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; /* Desactiva el menú de llamada táctil en Safari */
  touch-action: pan-x pan-y;
  -webkit-user-select: none; /* Desactiva la selección de texto en Safari */
  -moz-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #8cc63f;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overscroll-behavior: none;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
}

html::-webkit-scrollbar {
  display: none;
}