@charset "UTF-8";
#transacciones {
  display: none;
  width: 90vw;
}
#transacciones.active {
  display: block;
}
#transacciones h2 {
  font-size: 8.9vw;
  margin-bottom: 1rem;
  color: #000000;
  padding-top: 2.7vh;
}
#transacciones .buscar {
  width: 100%;
  padding: 1.6vw 2.5vw;
  border: 0;
  border-radius: 12px;
  font-size: 4.5vw;
  outline: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #e3e5e3;
  color: #333333;
}
#transacciones .buscar::-webkit-input-placeholder {
  color: #808080;
}
#transacciones .buscar::-moz-placeholder {
  color: #808080;
}
#transacciones .buscar:-ms-input-placeholder {
  color: #808080;
}
#transacciones .buscar::-ms-input-placeholder {
  color: #808080;
}
#transacciones .buscar::placeholder {
  color: #808080;
}

.container {
  padding-top: 4vh;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.container .item {
  padding: 0.5rem;
  background-color: white;
  border-radius: 12px;
  border: 2px solid white;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 0px #e6e6e6;
          box-shadow: 0px 0px 5px 0px #e6e6e6;
  font-size: 0.8rem;
  position: relative;
}
.container .item.payment {
  color: green;
}
.container .item.refund {
  color: #c31c1c;
}
.container .item.refund .item-amount::before {
  content: "- ";
}
.container .item.confirmed .item-status {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='green' d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z'/%3E%3C/svg%3E");
}
.container .item.pending .item-status {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='orange' d='M75 75L41 41C25.9 25.9 0 36.6 0 57.9V168c0 13.3 10.7 24 24 24H134.1c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24V256c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65V152c0-13.3-10.7-24-24-24z'/%3E%3C/svg%3E");
}
.container .item.refunded .item-status {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='orange' d='M48.5 224H40c-13.3 0-24-10.7-24-24V72c0-9.7 5.8-18.5 14.8-22.2s19.3-1.7 26.2 5.2L98.6 96.6c87.6-86.5 228.7-86.2 315.8 1c87.5 87.5 87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3c-62.2-62.2-162.7-62.5-225.3-1L185 183c6.9 6.9 8.9 17.2 5.2 26.2s-12.5 14.8-22.2 14.8H48.5z'/%3E%3C/svg%3E");
}
.container .item .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.7rem;
}
.container .item .item-container .item-status {
  display: inline-block;
  height: 2.5vh; /* Ajusta el ancho de la imagen */
  aspect-ratio: 1/1; /* Mantiene una proporción de 1:1 */
  vertical-align: middle;
  margin: 0.4rem auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.container .item .item-container .item-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container .item .item-container .item-info * {
  padding: 0.1rem 0;
}
.container .item .item-container .item-info h3 span {
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #aaaaaa;
}
.container .item .item-container .item-info h3 span::before {
  content: "(#";
}
.container .item .item-container .item-info h3 span::after {
  content: ")";
}
.container .item .item-container .item-info .item-memo {
  color: #777777;
}
.container .item .item-container .item-info .item-date {
  font-size: 0.8em;
  font-style: oblique;
  color: #aaaaaa;
}
.container .item .item-container .item-amount {
  font-weight: bold;
  white-space: nowrap;
  font-size: 1.2em;
  text-align: right;
}
.container .item .item-container .item-amount span {
  font-size: 1em;
  color: #7f47dd;
  font-weight: normal;
}
.container .item.active {
  z-index: 1;
  -webkit-box-shadow: 0 0 20px 0 #aaaaaa;
          box-shadow: 0 0 20px 0 #aaaaaa;
}
.container .item .item-actions {
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  will-change: height, opacity;
}
.container .item .item-actions.expanded {
  height: auto;
  opacity: 1;
}
.container .item .item-actions .action-info,
.container .item .item-actions .action-refund {
  color: #444444;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .item .item-actions .action-refund .refund-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
.container .item .item-actions .action-refund .refund-options span {
  font-size: 1.2em;
  font-weight: bold;
  color: #777777;
  margin: 0.5rem 0;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button {
  border-radius: 12px;
  border: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.6em;
  width: 6rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button em {
  background-size: cover;
  display: block;
  height: 75%;
  aspect-ratio: 1/1;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button.paste-pr {
  background-color: #e7a415;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button.paste-pr em {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23FFFFFF'%3E%3Cpath d='M104.6 48H64C28.7 48 0 76.7 0 112V384c0 35.3 28.7 64 64 64h96V400H64c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H80c0 17.7 14.3 32 32 32h72.4C202 108.4 227.6 96 256 96h62c-7.1-27.6-32.2-48-62-48H215.4C211.6 20.9 188.2 0 160 0s-51.6 20.9-55.4 48zM144 56a16 16 0 1 1 32 0 16 16 0 1 1 -32 0zM448 464H256c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16l140.1 0L464 243.9V448c0 8.8-7.2 16-16 16zM256 512H448c35.3 0 64-28.7 64-64V243.9c0-12.7-5.1-24.9-14.1-33.9l-67.9-67.9c-9-9-21.2-14.1-33.9-14.1H256c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64z'/%3E%3C/svg%3E") center no-repeat;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button.qr-pr {
  background-color: #c31c1c;
}
.container .item .item-actions .action-refund .refund-options .refund-options-buttons button.qr-pr em {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='%23ffffff'%3E%3Cpath d='M0 80C0 53.5 21.5 32 48 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80zM64 96v64h64V96H64zM0 336c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336zm64 16v64h64V352H64zM304 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H304c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48zm80 64H320v64h64V96zM256 304c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s7.2-16 16-16s16 7.2 16 16v96c0 8.8-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s-7.2-16-16-16s-16 7.2-16 16v64c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V304zM368 480a16 16 0 1 1 0-32 16 16 0 1 1 0 32zm64 0a16 16 0 1 1 0-32 16 16 0 1 1 0 32z'/%3E%3C/svg%3E") center no-repeat;
}
.container .item .item-actions .action-refund .action-buttons {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  gap: 1rem;
}
.container .item .item-actions .action-refund .action-buttons button {
  border-radius: 12px;
  border: none;
  color: white;
  font-size: clamp(1em, 2.1vh, 2em);
  padding: clamp(0.5em, 1.8vh, 2em);
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50%;
}
.container .item .item-actions .action-refund .action-buttons button.confirm-pay {
  background-color: #0081fc;
}
.container .item .item-actions .action-refund .action-buttons button.cancel-pay {
  background-color: #c31c1c;
}
.container .item .item-actions .action-refund .payment-request {
  font-size: 1.2em;
  color: #0081fc;
  width: 90%;
  margin: 0.5rem 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}
.container .item .item-actions .action-refund .payment-request span {
  color: #777777;
  margin: 0.5rem 0;
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  font-weight: normal;
}
.container .item .item-actions .action-refund .capture-container {
  display: none;
  height: auto;
  width: 90%;
  margin: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .item .item-actions .action-refund .capture-container button.cancel-capture {
  background-color: #c31c1c;
  border-radius: 12px;
  border: none;
  color: white;
  font-size: clamp(1em, 2.1vh, 2em);
  padding: clamp(0.5em, 1.8vh, 2em);
  font-weight: 600;
  width: 90%;
  margin: 1rem 0 0.5rem 0;
}
.container .item .item-actions .action-refund .capture-container .video {
  width: 90%;
  aspect-ratio: 1/1;
  display: none;
}
.container .total-transactions {
  color: #666666;
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-weight: 600;
}

.spinner {
  display: none;
  width: 50vw;
  aspect-ratio: 1/1;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.devolucion-content {
  background-color: white;
  width: 90%; /* Ocupa el 90% de la pantalla */
  padding: 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.devolucion-content .resultado {
  font-size: 2em;
  font-weight: bold;
  color: #2ca118;
  width: 100%;
  text-align: center;
  display: none;
  padding: 2rem 0;
}